<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="header-site.component.css">

</head>
<body>

<header>
        <div class="cabecalho">
            <img src="img/logo-ford-256.png" alt="Logo da Ford com letras brancas e fundo azul">
            <button id="menu_Burguer" class="material-icons-outlined" (click)="openBurguer()">menu</button>
        </div>  
         
        <nav id="itens">
            <button href="javascript:void(0)" id="close_Burguer" class="material-icons-outlined" (click)="closeBurguer()">close</button>
            <ul>
                <li>
                    <a href="index.html" [routerLink]="'/home-site'"><span class="material-icons-outlined">home</span> Home</a></li>
                <li>
                    <a href="lancamento.html" [routerLink]="'/lancamentos'"><span class="material-icons-outlined">directions_car</span> Lançamento</a></li>
                <li>
                    <a href="contato.html" [routerLink]="'/contato'"><span class="material-icons-outlined">call</span> Contato</a></li>
                <li>
                    <a href="contato.html" [routerLink]="'/login'"><span class="material-icons-outlined">account_circle</span> Entrar</a></li>
            </ul>
        </nav>
        <nav id="menu_Bar">
            <a class="opcao" [routerLink]="'/home-site'">Home</a>
            <a class="opcao" [routerLink]="'/lancamentos'">Lançamentos</a>
            <a class="opcao" [routerLink]="'/contato'">Contato</a>
            <a class="opcao login" [routerLink]="'/login'">Entrar<span class="material-icons-outlined">account_circle</span></a>
        </nav>
    </header>

    
</body>
</html>

