<app-header-site></app-header-site>

<div id="conteudo_Principal">
    <img src="img/xls 2.2 diesel.jpg" alt="Ranger 2022 XLS na cor vermelha">
    
    <form novalidate #contatoForm="ngForm" #formElement id="form" class="form" method="GET" action="" (submit)="onSubmit($event)">
        <p class="title">Contato</p>
        <p class="message">Sobre você</p>
        <span id="error_Forms">{{erro_Mensage}}</span>
        <div class="flex">
            <input required placeholder="PRIMEIRO NOME" type="text" class="input" name="nome" id="nome" #nomeInput [(ngModel)]="formData.nome">
            <input required placeholder="ÚLTIMO NOME" type="text" class="input" name="sobrenome" id="sobrenome" #sobrenomeInput [(ngModel)]="formData.sobrenome">
        </div>
        
        <input required placeholder="EMAIL" type="email" class="input" name="email" id="email" #emailInput [(ngModel)]="formData.email">
        <input (input)="onTelefoneInput($event)" maxlength="16" required placeholder="TELEFONE" type="text" class="input" name="telefone" id="telefone" #telefoneInput [(ngModel)]="formData.telefone">
        
        <select required class="input" name="tipo_contato" id="tipo_contato" #tipoContatoSelect [(ngModel)]="formData.tipoContato">
            <option value="" disabled selected>TIPO DE CONTATO</option>
            <option value="Elogio">ELOGIO</option>
            <option value="Reclamação">RECLAMAÇÃO</option>
            <option value="Solicitação">SOLICITAÇÃO</option>
        </select>
        
        <textarea required class="input" name="mensagem" id="mensagem" cols="30" rows="10" placeholder="MENSAGEM" #mensagemTextarea [(ngModel)]="formData.mensagem"></textarea>

        <div id="LGPD">
            <span class="text_LGPD">Os dados serão mantidos em nossa base de dados, só enquanto for desejado por você. A qualquer momento, será possível editar ou remover tais dados. <a target="_blank" href="https://www.ford.com.br/politica-de-privacidade/">Termos e Condições</a></span>
            <div class="input_LGPD">
                <input type="checkbox" id="input_LGPD1" #lgpdCheckbox>
                <span>Sim. Li e concordo com os Termos e Condições.</span>
            </div>
            <div class="input_LGPD">
                <input type="checkbox" id="input_LGPD2">
                <span>Sim. Também quero receber descontos e novidades.</span>
            </div>
        </div>

        <button type="submit" class="submit">Enviar</button>
    </form>

    <div id="confirmacao" #confirmacaoElement>
        <div class="text_Confirmation">
            <h1>Mensagem enviada com sucesso!</h1>
            <span>Olá, <strong class="confirmacao_Strong" id="strong_Name" #strongName></strong>! Agradecemos seu contato.<br><br> Sua mensagem foi recebida e nossa equipe está avaliando <span id="text_Tipo" #textTipo></span>. Em breve, entraremos em contato. <br> <br> A <strong class="confirmacao_Strong">Ford</strong> valoriza sua opinião e está sempre à disposição!</span>
        </div>
        <div class="btn_Confirmation">
            <button class="botao_confirmacao">
                <a [routerLink]="'/home-site'">Voltar para página principal</a>
            </button>
            <button (click)="closeConfirmation($event)" class="botao_confirmacao"><a [routerLink]="'/contato'">Enviar outra mensagem</a></button>
        </div>
    </div>
</div>
<app-footer-site></app-footer-site>