<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<footer>
    <div class="informacoes_Footer">
        <div class="redes_Sociais">
            <p>Redes Sociais</p>
            <div class="logo_Redes">
                <a class="icone_Social" href="https://www.instagram.com/fordbrasil/" target="_blank"><img src="img/instagram-logo-50.png" alt="Logo do Instagram"></a>
                <a class="icone_Social" href="https://www.facebook.com/ford/" target="_blank"><img src="img/facebook-50.png" alt="Logo do Facebook"></a>
                <a class="icone_Social" href="https://www.youtube.com/@fordbrasil" target="_blank"><img src="img/youtube-squared-50.png" alt="Logo do Youtube"></a>
            </div>
        </div>
        <div class="copy_Right_Logo">
            <img src="img/ford-96.png" alt="Logo da Ford">
        </div>
        <div class="copy_Right">
            <p>Copyright © 2025 Ford Motor Company - Todos os direitos reservados</p>
        </div>
    </div>
</footer>

</body>
</html>