/* Small devices */
@media only screen and (min-width: 600px) {
    header > .cabecalho > img {
        max-height: 50px;
    }

    #itens {display: none}

    #menu_Burguer {display: none;}

    #menu_Bar {
        padding: 0;
        margin: 0;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 5vw;
    }
    
    #menu_Bar > a {
        font-family: "Antenna", Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: var(--cor-azul-claro);
        font-weight: bold;
        font-size: 2vw;
    }

    .imagem_Principal_Mobile {
        display: none; 
    }
    
    .imagem_Principal_Desktop {
        display: block; 
    }

    #titulo_Principal {
        font-size: 7vw;
        letter-spacing: 2px;
        font-weight: 100;
        line-height: 9vw;
    }
    
    #titulo_Forte {
        font-size: 10vw;
        line-height: 6vw;
    }
    
    #caixa_Informacao {
        height: 20vw;
        font-size: 3vw;
    }

    .carousel-container {
        justify-self: center;
        width: 90%;
    }
    
    #prevButton, #nextButton {
        display: flex;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;
        margin: 0 20px;
    }

    .radios {
        bottom: 30px;
    }

    #carouselTitle {
        font-size: x-large;
    }
}

/* Medium devices  */
@media only screen and (min-width: 768px) {
    #menu_Bar {
        display: flex;
    }
    #titulo_Principal {
        font-size: 7vw;
        letter-spacing: 1px;
        line-height: 8vw;
        margin-bottom: 10px;
    }
    
    #titulo_Forte {
        font-size: 9vw;
        line-height: 6vw;
    }
    
    #caixa_Informacao {
        height: 20vw;
        font-size: 2vw;
    }
    
    #novidade {
        padding: 100px 50px;
    }
    
    #novidade > h1 {
        font-size: 3rem;
    }
    
    #carouselTitle {
        font-size: xx-large;
    }
}

/* Large devices  */
@media only screen and (min-width: 992px) {
    header > .cabecalho > img {
        max-height: 60px;
    }
    
    #imagem_Principal {
        width: 95%;
    }
    
    #caixa_Informacao {
        justify-self: center;
        width: 95%;
    }
    
    #titulo_Principal {
        font-size: 5vw;
        letter-spacing: 1px;
        line-height: 7vw;
    }
    
    #titulo_Forte {
        font-size: 9vw;
    }
    
    footer {
        padding: 2vw;
    }
    
    .redes_Sociais {
        margin-left: 0vw;
    }
    
    #caixa_Informacao {
        height: 20vw;
        font-size: 2vw;
    }

    .informacoes_Footer {
        grid-template-columns: 300px auto 300px;
        grid-template-rows: auto;
    }

    .copy_Right {
        grid-column-start: 2;    
        grid-column-end: 2;      
        grid-row-start: 1;       
        grid-row-end: 1;  
        font-size: large;
    }

    .copy_Right_Logo > img {
        grid-column: 3;
        justify-self: center;
    }
}