:root {
    --cor-azul-escuro: #1b357e;
    --cor-azul-claro: #1351d8;
}

@font-face{
    font-family: "Antenna";
    src: url("assets/font/ford-antenna-regular-xcnd-589558121012a.woff");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header > .cabecalho > img {
        max-height: 50px;
    }

    #itens {display: none}

    #menu_Burguer {display: none;}


    #menu_Bar {

        padding: 0;
        margin: 0;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 5vw;
    
    }
    #menu_Bar > a {
        font-family: "Antenna", Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: var(--cor-azul-claro);
        font-weight: bold;
        font-size: 2vw;
    }
    .opcao {
        color: #ffffff;
        position: relative;
        display: inline-block;
    }
      
    .opcao::after,
    .opcao::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, rgb(38, 86, 219), white );
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;
    }
      
    .opcao::before {
        top: -5px;
        transform-origin: left;
    }
      
    .opcao:hover::after,
    .opcao:hover::before {
        transform: scaleX(1);
        
    }


    .imagem_Principal_Mobile {
        display: none; 
    }
    .imagem_Principal_Desktop {
        display: block; 
    }

    a > img {
        width: 100%;
        object-fit: cover; 
    }

    #titulo_Principal {
        font-size: 7vw;
        letter-spacing: 2px;
        font-weight: 100;
        line-height: 9vw;
    }
    #titulo_Forte {
        font-size: 10vw;
        line-height: 6vw;
    }
    #caixa_Informacao {
        height: 20vw;
        font-size: 3vw;
    }

    .carousel-container {
        justify-self: center;
        width: 90%;
        
    }
   
    
    #prevButton, #nextButton {
        display: flex;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;
        margin: 0 20px;

    }

    .radios {
       
        bottom: 30px;

    }


    #carouselTitle{
        font-size: x-large;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #titulo_Principal {
        font-size: 7vw;
        letter-spacing: 1px;
        line-height: 8vw;
        margin-bottom: 10px;
    }
    #titulo_Forte {
        font-size: 9vw;
        line-height: 6vw;
    }
    #caixa_Informacao {
        height: 20vw;
        font-size: 2vw;
    }
    #novidade {
        padding: 100px 50px;
    }
    #novidade > h1 {
        font-size: 3rem;
        
    }
    #carouselTitle{
        font-size: xx-large;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header > .cabecalho > img {
        max-height: 60px;
    }
    #imagem_Principal {
        width: 95%;
    }
    #caixa_Informacao {
        justify-self: center;
        width: 95%;
    }
    #titulo_Principal {
        font-size: 5vw;
        letter-spacing: 1px;
        line-height: 7vw;
    }
    #titulo_Forte {
        font-size: 9vw;
    }
    footer {
        padding: 2vw;
    }
    .redes_Sociais {
        margin-left: 0vw;
    }
    #caixa_Informacao {
        height: 20vw;
        font-size: 2vw;
    }

    .informacoes_Footer {
        grid-template-columns: 300px auto 300px;
        grid-template-rows: auto;
        
    }


    .copy_Right {
        grid-column-start: 2;    /* Começa na linha vertical 1 */
        grid-column-end: 2;      /* Termina na linha vertical 3 */
        grid-row-start: 1;       /* Começa na linha horizontal 2 */
        grid-row-end: 1;  
        font-size: large;
    }

    .copy_Right_Logo > img {
        grid-column: 3;
        justify-self: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


:root {
    --color-primary: #1b357e;
    --color-secondary: #1351d8;
}

@font-face {
    font-family: "Antenna";
    src: url("/assets/font/Antenna-Regular.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


* {
    box-sizing: border-box;
    font-family: "Antenna", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Antenna", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    max-width: 100%;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    padding: 4% 8%;
    height: 100px;
    font-family: "Antenna", Arial, Helvetica, sans-serif;
}

.cabecalho {
    width: 100vw;
    
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .cabecalho > img {
    max-height: 40px;
    width: auto;

    padding: 0;
    margin: 0;

}

#menu_Bar {
    display: none;
    justify-self: center;
    align-self: center;
}

#itens {
    padding-top: 0;
    margin-top: 0;
    padding-left: 15px;
    height: 100vh; 
    width: 0; 
    position: fixed;
    z-index: 5; 
    top: 0;
    right: -20%; 
    background-color: var(--cor-azul-escuro);
    overflow-x: hidden; 
    transition: width 0.3s ease, right 0.3s ease;
    display: flex;
    flex-direction: column;
     
    justify-content: flex-start;
}

#itens > ul {
    padding: 50px 5px;
    margin: 0;
    transition: opacity 1.5s ease;
    opacity: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

#itens > ul > li > a {
    list-style: none;
    padding: 10px 0px; 
    margin: 0; 
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex; 
    align-items: center;
    transition: 0.5s;
}

#itens > ul > li > a > span {
    padding-right: 15px;
}

#itens.aberto {
    width: 60%; 
    right: 0; 
}

#itens.aberto > ul {
    opacity: 1; 
}

#menu_Burguer {
    padding: 0;
    margin: 0;
    position: absolute;
    border: 0;
    background-color: white;
    color: var(--cor-azul-escuro);
    font-size: 30px;
    top: 31px;
    right: 25px;
}

#close_Burguer {
    position: absolute;
    top: 31px;
    right: 25px;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    background-color: var(--cor-azul-escuro);
    color: white;
    z-index: 6;
}


main {
    height: 100vh;
    width: 100vw;
    background-color: white;
    flex: 1;
}

#prevButton, #nextButton {
    display: none;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#carouselImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.carousel-text {
    text-align: center;
    padding: 15px;
    background: #ffffff;
    margin: 0;
}

.radios {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 2;
}

.radio-wrapper {
    display: inline-block;
}

.carousel-radio {
    position: absolute;
    opacity: 0;
}

.carousel-radio + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.carousel-radio:checked + label {
    background-color: #fff;
    transform: scale(1.2);
    width: 30px;
    border-radius: 50px;
    transition: 0.3s ease;
}

/* Botões de navegação */
.buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    transform: translateY(-50%);
    z-index: 1;
}

.buttons button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}


.carousel-radio:hover + label {
    background: rgb(255, 255, 255);
    transform: scale(1.3);
    transition: 0.3s ease;
}


#prevButton:hover, #nextButton:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
    transition:  0.3s ease;
}


#carouselTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

a{
    text-decoration: none;
    color: black;
    font-family: "Antenna", Arial, Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.233) -1px -1px 1px;
}

a > img {
    width: 100%;
    object-fit: cover; 
}

#titulo_Principal {
    margin: 0;
    position: absolute;
    color: white;
    font-size: 6vw;
    align-self: flex-end;
    text-align: center;
    justify-self: end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: -1px;
    font-weight: 100;
    line-height: 10vw;
    margin-bottom: 5px;
    font-family: "Antenna", Arial, Helvetica, sans-serif;
    
}

#titulo_Forte {
    font-size: 13vw;
    font-family: "Antenna", Arial, Helvetica, sans-serif;
}

#novidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px 10px;
}

#novidade > h1 {
    letter-spacing: 2px;
    
}
 

button a {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_Ranger {
    transition: all 0.3s ease-in-out;
}
  
.botao_Ranger {
    transition: all 0.3s ease-in-out;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #1b357e  0%, #1351d8 50%, #265ed6  100%);
    box-shadow: 0 20px 30px -6px #265ed656;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
}
  
.botao_Ranger:hover {
    transform: translateY(3px);
    box-shadow: none;
}
  
.botao_Ranger:active {
    opacity: 0.5;
}


footer {
    background-color: var(--cor-azul-escuro);
    width: 100vw;
    height: auto;
    max-height: 150px;
    min-height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.informacoes_Footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto 80px;
    font-size: small;
    justify-items: stretch;
    align-items: center;
    padding: 10px;
}


.redes_Sociais {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: small;

}

.redes_Sociais > p {
    width: 90px;
}

.logo_Redes > a > img {
    width: 1.4rem;
    max-width: 40px;
    min-width: 20px;
    height: auto;
    object-fit: contain;
    padding: 5px 0;
    margin-left: 2vw;

}

.logo_Redes > a > img:hover {
    transform: scale(1.2);
}

.copy_Right {
    color: white;
    font-size: small;
    grid-column: 1/ span 2;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.copy_Right_Logo > img {
    width: 80px;
    object-fit: contain;
    display: flex;
    justify-self: end;
    align-self: center;
}

