<app-header-site></app-header-site>
<main>
  <div class="video-container">
    <iframe 
      id="video_Principal"
      src="https://www.youtube.com/embed/vQsryuNmsL0?autoplay=1&autohide=0&controls=0&modestbranding=1&mute=0&playsinline=1&showinfo=0&loop=1&playlist=vQsryuNmsL0"
      title="Vídeo Gerações da nova Ranger 2022"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>

        <table class="tabela"> <!-- Tabela de carros -->
            <tr>
                <!-- Elementos da tabela vão aqui -->
            </tr>
        </table>


        <section id="section_Btn">
            <div id="compare">
                <button class="botao_Ranger"><a href="#">Comparar</a></button>
            </div>
    
            <div id="erro_Div">
                <span id="erro_Span"></span>
            </div>
        </section>
</main>

<app-footer-site></app-footer-site>